Repository danieleschmidt/agentic-dev-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-backlog-schema, check-ado-imports, validate-config-files, check-architecture-links, enforce-test-coverage

validate-backlog-schema:
  name: Validate backlog item schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: true

check-ado-imports:
  name: Check ADO module imports
  entry: python scripts/check_imports.py
  language: python
  pass_filenames: true

validate-config-files:
  name: Validate configuration files
  entry: python scripts/validate_config.py
  language: python

check-architecture-links:
  name: Check architecture documentation links
  entry: python scripts/check_doc_links.py
  language: python

enforce-test-coverage:
  name: Enforce minimum test coverage
  entry: python scripts/coverage_check.py
  language: python
  pass_filenames: false
  always_run: false
  stages:
  - push

feat(ci): add comprehensive SDLC automation with CI/CD and security
  .devcontainer/post-start.sh
  .dockerignore
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .markdownlint.yml
  .yamllint.yml
  docs/adr/adr-005-comprehensive-sdlc-automation.md
  package.json
  requirements-dev.txt
  requirements.md
  tests/integration/test_github_integration.py
  tests/performance/test_performance.py
Due: check-ado-imports, check-architecture-links, enforce-test-coverage

Remove GitHub workflow files due to permissions restriction
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

docs(project-charter): add comprehensive project charter for Agentic Development Orchestrator
  PROJECT_CHARTER.md
Due: none

docs: add community and development documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  docs/DEVELOPMENT.md
Due: check-architecture-links

docs: add workflow requirements and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/SETUP_REQUIRED.md
  docs/workflows/README.md
Due: check-architecture-links

feat(ci): add comprehensive CI/CD, security, and dependency workflows
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  ADO_SDLC_ENHANCEMENT_REPORT.md
  SBOM.json
  docker-compose.observability.yml
  docs/operations/PERFORMANCE_MONITORING.md
  docs/security/SUPPLY_CHAIN_SECURITY.md
  monitoring/prometheus/prometheus.yml
  monitoring/prometheus/rules/ado-alerts.yml
Due: check-architecture-links

feat(ci): add comprehensive SDLC enhancement documentation and manual setup guide
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  MANUAL_SETUP_GUIDE.md
Due: none

chore: add empty git diff for commit message generation
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/security.md
  .github/pull_request_template.md
  AUTONOMOUS_SDLC_ENHANCEMENT_REPORT.md
  CHANGELOG.md
  SECURITY.md
  pyproject.toml
Due: validate-config-files

feat(operations): add comprehensive incident response documentation and tests
  docs/operations/INCIDENT_RESPONSE.md
  mkdocs.yml
  tests/performance/test_load_testing.py
  tests/security/test_security_scanner.py
Due: check-ado-imports, check-architecture-links, enforce-test-coverage

feat(sdlc): complete autonomous SDLC enhancement with CI/CD infrastructure
  .github/CODEOWNERS
  .github/codeql/codeql-config.yml
  ADAPTIVE_IMPLEMENTATION_STRATEGY.md
  DEPLOYMENT_INSTRUCTIONS.md
  IMPLEMENTATION_COMPLETE_SUMMARY.md
  PHASE1_IMPLEMENTATION_TEMPLATES.md
  WORKFLOW_INTEGRATION_GUIDE.md
Due: none

feat(sdlc): implement comprehensive SDLC maturity enhancement from MATURING to ADVANCED
  .devcontainer/docker-compose.dev.yml
  AUTONOMOUS_SDLC_MATURITY_ENHANCEMENT_REPORT.md
  docs/operations/DISASTER_RECOVERY.md
  docs/operations/OBSERVABILITY_IMPLEMENTATION.md
  docs/operations/SLA_SLO_DEFINITIONS.md
  docs/security/SLSA_COMPLIANCE.md
  docs/workflows/ci-cd-implementation-guide.md
Due: check-architecture-links

feat(autonomous-sdlc): add autonomous SDLC system with value discovery and CI/CD
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .terragon/config.yaml
  .terragon/continuous-improvement.py
  .terragon/improvement-metrics.json
  .terragon/learning-records.json
  .terragon/value-engine.py
  .terragon/value-metrics.json
  AUTONOMOUS_SDLC_IMPLEMENTATION_SUMMARY.md
  AUTONOMOUS_VALUE_BACKLOG.md
  AUTONOMOUS_WORKFLOW_INTEGRATION.md
  CONTINUOUS_IMPROVEMENT_REPORT.md
  scripts/check_imports.py
  scripts/validate_schemas.py
Due: check-ado-imports, enforce-test-coverage

feat(autonomous-sdlc): implement comprehensive autonomous SDLC enhancement system
  .github/workflows/ci.yml
  .github/workflows/release.yml
  AUTONOMOUS_SDLC_IMPLEMENTATION_SUMMARY.md
  QUICK_START_GUIDE.md
  docs/workflows/GITHUB_ACTIONS_SETUP.md
Due: check-architecture-links

feat(autonomous-sdlc): implement autonomous SDLC enhancement system
  .terragon/execution-report-20250801-054707.json
  .terragon/value-metrics.json
  AUTONOMOUS_SDLC_ENHANCEMENT_REPORT.md
  AUTONOMOUS_VALUE_BACKLOG.md
  TERRAGON_AUTONOMOUS_SDLC_IMPLEMENTATION_SUMMARY.md
  autonomous_sdlc_engine.py
  docs/workflows/GITHUB_ACTIONS_IMPLEMENTATION_GUIDE.md
  value_discovery_engine.py
Due: check-ado-imports, check-architecture-links, enforce-test-coverage

docs(contributing): add comprehensive contributing guide and documentation templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/guides/GETTING_STARTED.md
  docs/troubleshooting/COMMON_ISSUES.md
Due: check-architecture-links

feat(ci): add comprehensive GitHub Actions workflows for CI, release, and security
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  MANIFEST.in
  QUICKSTART.md
  README.md
  SDLC_ANALYSIS.md
  completions/ado.bash
  completions/ado.fish
  completions/ado.zsh
  install-completions.sh
  pyproject.toml
Due: validate-config-files

test: enhance testing infrastructure and documentation
  docs/testing/TESTING_GUIDE.md
  tests/test_template.py
Due: check-ado-imports, check-architecture-links, enforce-test-coverage

feat(ci): add GitHub Actions workflows for CI, release, and security
  MANUAL_SETUP_REQUIRED.md
  README.md
  SDLC_ANALYSIS.md
  github-workflows-template/README.md
  github-workflows-template/ci.yml
  github-workflows-template/release.yml
  github-workflows-template/security.yml
Due: none

build: enhance containerization and security infrastructure
  docs/deployment/DEPLOYMENT_GUIDE.md
  scripts/generate_sbom.py
  scripts/security_scan.sh
Due: check-ado-imports, check-architecture-links, enforce-test-coverage

docs: add CI/CD and security workflow documentation and templates
  docs/workflows/examples/README.md
  docs/workflows/examples/cd.yml
  docs/workflows/examples/ci.yml
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/security.yml
Due: check-architecture-links

feat: add metrics tracking and automation scripts
  .github/project-metrics.json
  scripts/automate_maintenance.py
  scripts/collect_metrics.py
  scripts/repository_health_monitor.py
  scripts/run_automation.sh
Due: check-ado-imports, enforce-test-coverage

feat: complete SDLC implementation with repository configuration
  CHECKPOINTED_SDLC_IMPLEMENTATION_SUMMARY.md
  README.md
Due: none

chore(scripts): make check_imports.py and validate_schemas.py executable
  scripts/check_imports.py
  scripts/validate_schemas.py
Due: check-ado-imports, enforce-test-coverage

feat: implement development environment and data persistence layer
  pyproject.toml
  src/__init__.py
  src/cache/__init__.py
  src/cache/cache_manager.py
  src/database/__init__.py
  src/database/connection.py
  src/repositories/__init__.py
  src/repositories/backlog_repository.py
  src/repositories/base_repository.py
Due: check-ado-imports, validate-config-files, enforce-test-coverage

feat: implement REST API endpoints and comprehensive testing infrastructure
  src/api/__init__.py
  src/api/server.py
  tests/integration/test_api_endpoints.py
  tests/unit/test_data_layer.py
Due: check-ado-imports, enforce-test-coverage

feat: Implement Generation 1 SDLC enhancements
  autonomous_executor.py
  backlog.yml
  backlog_manager.py
  docs/status/last_execution.json
  pyproject.toml
Due: check-ado-imports, validate-config-files, enforce-test-coverage

fix: Adjust risk escalation criteria for Generation 1
  autonomous_executor.py
  backlog.yml
  docs/status/last_execution.json
  escalations/json-sample-task_escalation.json
Due: check-ado-imports, enforce-test-coverage

fix: Reset all items to READY status for testing
  backlog.yml
  docs/status/last_execution.json
  escalations/json-sample-task_escalation.json
Due: none

feat: Add simple task for autonomous execution demo
  backlog.yml
  backlog/simple-task.json
  docs/status/last_execution.json
  escalations/json-sample-task_escalation.json
Due: validate-backlog-schema

feat: Complete Generation 1 - Basic autonomous execution working
  backlog.yml
  docs/status/last_execution.json
  docs/status/latest.json
Due: none

feat: Complete Generation 2 - Robust Error Handling, Logging & Security
  autonomous_executor.py
  docs/status/last_execution.json
  security_reports/security_scan_20250804_040441.json
  security_reports/security_scan_latest.json
  src/monitoring/__init__.py
  src/monitoring/health_monitor.py
  src/recovery/__init__.py
  src/recovery/circuit_breaker.py
  src/security/__init__.py
  src/security/scanner.py
Due: check-ado-imports, enforce-test-coverage

feat: Complete Autonomous SDLC Implementation - All 3 Generations
  TERRAGON_AUTONOMOUS_SDLC_FINAL_SUMMARY.md
  backlog.yml
  quality_reports/quality_gates_20250804_040923.json
  quality_reports/quality_gates_latest.json
  src/performance/__init__.py
  src/performance/async_executor.py
  src/performance/metrics_collector.py
  src/performance/resource_pool.py
  src/quality/__init__.py
  src/quality/gates.py
Due: check-ado-imports, enforce-test-coverage

Implement Complete Autonomous SDLC with Robust Execution, Security, and Monitoring (#20)
  TERRAGON_AUTONOMOUS_SDLC_FINAL_SUMMARY.md
  autonomous_executor.py
  backlog.yml
  backlog/simple-task.json
  backlog_manager.py
  docs/status/last_execution.json
  docs/status/latest.json
  escalations/json-sample-task_escalation.json
  pyproject.toml
  quality_reports/quality_gates_20250804_040923.json
  quality_reports/quality_gates_latest.json
  security_reports/security_scan_20250804_040441.json
  security_reports/security_scan_latest.json
  src/monitoring/__init__.py
  src/monitoring/health_monitor.py
  src/performance/__init__.py
  src/performance/async_executor.py
  src/performance/metrics_collector.py
  src/performance/resource_pool.py
  src/quality/__init__.py
  src/quality/gates.py
  src/recovery/__init__.py
  src/recovery/circuit_breaker.py
  src/security/__init__.py
  src/security/scanner.py
Due: validate-backlog-schema, check-ado-imports, validate-config-files, enforce-test-coverage

feat(quantum_sdlc): add complete quantum-inspired autonomous SDLC system
  .ado_security.json
  .env.template
  QUANTUM_SDLC_ARCHITECTURE.md
  QUANTUM_SDLC_FINAL_SUMMARY.md
  backlog_manager.py
  deployment_guide.py
  deployment_reports/deployment_readiness_20250805_170628.json
  deployment_reports/deployment_readiness_latest.json
  quality_reports/quality_gates_20250805_170510.json
  quality_reports/quality_gates_20250805_170859.json
  quantum_error_recovery.py
  quantum_performance_optimizer.py
  quantum_quality_gates.py
  quantum_security_validator.py
  quantum_task_planner.py
  run_quality_gates.py
  test_quantum_integration.py
Due: check-ado-imports, enforce-test-coverage

feat(quantum_sdlc): add complete quantum-inspired autonomous SDLC system (#21)
  .ado_security.json
  .env.template
  QUANTUM_SDLC_ARCHITECTURE.md
  QUANTUM_SDLC_FINAL_SUMMARY.md
  backlog_manager.py
  deployment_guide.py
  deployment_reports/deployment_readiness_20250805_170628.json
  deployment_reports/deployment_readiness_latest.json
  quality_reports/quality_gates_20250805_170510.json
  quality_reports/quality_gates_20250805_170859.json
  quantum_error_recovery.py
  quantum_performance_optimizer.py
  quantum_quality_gates.py
  quantum_security_validator.py
  quantum_task_planner.py
  run_quality_gates.py
  test_quantum_integration.py
Due: check-ado-imports, enforce-test-coverage

feat(sentiment): add comprehensive sentiment analysis module with API and deployment
  DEPLOYMENT_GUIDE.md
  ado.py
  docker-compose.sentiment.yml
  docker/sentiment.Dockerfile
  docs/SENTIMENT_ANALYSIS_GUIDE.md
  examples/sentiment_examples.py
  k8s/sentiment-deployment.yaml
  monitoring/prometheus-sentiment.yml
  nginx/sentiment.conf
  scripts/deploy-sentiment.sh
  src/api/server.py
  src/sentiment/__init__.py
  src/sentiment/analyzer.py
  src/sentiment/async_analyzer.py
  src/sentiment/cache.py
  src/sentiment/exceptions.py
  src/sentiment/models.py
  src/sentiment/performance.py
  src/sentiment/validator.py
  tests/integration/test_sentiment_api.py
  tests/performance/test_sentiment_performance.py
  tests/unit/test_sentiment_analyzer.py
  tests/unit/test_sentiment_async.py
Due: check-ado-imports, check-architecture-links, enforce-test-coverage

feat(sentiment): add comprehensive sentiment analysis module with API and deployment (#22)
  DEPLOYMENT_GUIDE.md
  ado.py
  docker-compose.sentiment.yml
  docker/sentiment.Dockerfile
  docs/SENTIMENT_ANALYSIS_GUIDE.md
  examples/sentiment_examples.py
  k8s/sentiment-deployment.yaml
  monitoring/prometheus-sentiment.yml
  nginx/sentiment.conf
  scripts/deploy-sentiment.sh
  src/api/server.py
  src/sentiment/__init__.py
  src/sentiment/analyzer.py
  src/sentiment/async_analyzer.py
  src/sentiment/cache.py
  src/sentiment/exceptions.py
  src/sentiment/models.py
  src/sentiment/performance.py
  src/sentiment/validator.py
  tests/integration/test_sentiment_api.py
  tests/performance/test_sentiment_performance.py
  tests/unit/test_sentiment_analyzer.py
  tests/unit/test_sentiment_async.py
Due: check-ado-imports, check-architecture-links, enforce-test-coverage

Revert "feat(sentiment): add comprehensive sentiment analysis module with API…"
  DEPLOYMENT_GUIDE.md
  ado.py
  docker-compose.sentiment.yml
  docker/sentiment.Dockerfile
  docs/SENTIMENT_ANALYSIS_GUIDE.md
  examples/sentiment_examples.py
  k8s/sentiment-deployment.yaml
  monitoring/prometheus-sentiment.yml
  nginx/sentiment.conf
  scripts/deploy-sentiment.sh
  src/api/server.py
  src/sentiment/__init__.py
  src/sentiment/analyzer.py
  src/sentiment/async_analyzer.py
  src/sentiment/cache.py
  src/sentiment/exceptions.py
  src/sentiment/models.py
  src/sentiment/performance.py
  src/sentiment/validator.py
  tests/integration/test_sentiment_api.py
  tests/performance/test_sentiment_performance.py
  tests/unit/test_sentiment_analyzer.py
  tests/unit/test_sentiment_async.py
Due: check-ado-imports, check-architecture-links, enforce-test-coverage

Revert "feat(sentiment): add comprehensive sentiment analysis module with API…" (#23)
  DEPLOYMENT_GUIDE.md
  ado.py
  docker-compose.sentiment.yml
  docker/sentiment.Dockerfile
  docs/SENTIMENT_ANALYSIS_GUIDE.md
  examples/sentiment_examples.py
  k8s/sentiment-deployment.yaml
  monitoring/prometheus-sentiment.yml
  nginx/sentiment.conf
  scripts/deploy-sentiment.sh
  src/api/server.py
  src/sentiment/__init__.py
  src/sentiment/analyzer.py
  src/sentiment/async_analyzer.py
  src/sentiment/cache.py
  src/sentiment/exceptions.py
  src/sentiment/models.py
  src/sentiment/performance.py
  src/sentiment/validator.py
  tests/integration/test_sentiment_api.py
  tests/performance/test_sentiment_performance.py
  tests/unit/test_sentiment_analyzer.py
  tests/unit/test_sentiment_async.py
Due: check-ado-imports, check-architecture-links, enforce-test-coverage

feat(deployment): add comprehensive production deployment orchestrator
  ado.py
  deployment/production_deployment_guide.py
  deployment_config.json
  deployment_config.yaml
  src/ai/__init__.py
  src/ai/sentiment_analyzer.py
  src/intelligence/__init__.py
  src/intelligence/adaptive_learning.py
  src/performance/__init__.py
  src/performance/adaptive_cache.py
  src/performance/distributed_executor.py
  src/resilience/__init__.py
  src/resilience/circuit_breaker_enhanced.py
  src/resilience/retry_with_backoff.py
  src/security/__init__.py
  src/security/enhanced_scanner.py
  tests/test_comprehensive_integration.py
Due: check-ado-imports, enforce-test-coverage

Path conditions:
  validate-backlog-schema: any of: ^backlog/.*\.json$
  check-ado-imports: any of: \.py$
  validate-config-files: any of: (?x)^(
  \.env\.example|
  pyproject\.toml|
  \.pre-commit-config\.yaml
)$

  check-architecture-links: any of: ^(ARCHITECTURE\.md|docs/.*\.md)$
  enforce-test-coverage: any of: \.py$
